/* .container {
    display: flex;
    padding: 0.55rem 0;
}

.toggle-button {
    box-sizing: border-box;
    margin: 0 5px;
    width: 45px;
    height: 25px;
    border: 1px solid #e1e5e9;
    border-radius: 12px;
    background-color: #8fc1e3;
    display: flex;
    align-items: center;
}
.switch {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 3px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.text {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}

.°C {
    background-color: #fff;
    transform: translateX(20px);
}

.°F {
    background-color: #fff;
    transform: translateX();
}



  */
